/*!*****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./css/sb-youtube-free.css ***!
  \*****************************************************************************************************************************************************************************/
.sby_lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sby_lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}
.sby_lb-data {
    padding: 0 4px;
    color: #ccc;
}
.sby_lb-data .sby_lb-details {
    width: 85%;
    float: right;
    text-align: right;
    line-height: 1.1;
}
.sby_lb-data .sby_lb-caption {
    float: right;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 3px;
    color: #ccc;
    word-wrap: break-word;
    hyphens: auto;
}
.sby_lb-data .sby_lb-caption a,
.sby_lb-data .sby_lb-caption .ctf-screename-sep{
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}
.sby_lb-data .sby_lb-caption a:hover{
    color: #fff;
    text-decoration: underline;
}
.sby_lb-data .sby_lb-caption .sby_lightbox_username{
    float: right;
    width: 100%;
    color: #ccc;
    padding-bottom: 0;
    display: block;
    margin: 0 0 5px 0;
}
.sby_lb-data .sby_lb-caption .sby_lightbox_username{
    color: #ccc;
}
.sby_lb-data .sby_lb-caption .sby_lightbox_username:hover p{
    color: #fff;
    text-decoration: underline;
}
.sby_lightbox .sby_lightbox_username img {
    float: right;
    border: none;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    background: #666;
    border-radius: 5px;
}
.sby_lightbox_username p{
    float: right;
    margin: 0;
    padding: 0;
    color: #ccc;
    line-height: 32px;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}
.sby_lb-data .ctf-caption-text{
    width: 100%;
    margin-right: 58px;
    padding-top: 3px;
}
.sby_lb-data .sby_lb-caption .ctf-tweet-date,
.sby_lb-data .sby_lb-caption .ctf-author-screenname{
    font-weight: normal;
}
.sby_lb-data .sby_lb-info{
    width: 100%;
    float: right;
    clear: both;
}
.sby_lb-data .sby_lb-number {
    display: block;
    float: right;
    clear: both;
    padding: 5px 0 15px 0;
    font-size: 12px;
    color: #999999;
}
.sby_lb-data .sby_lb-close {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: url(../images/close.0cfd6489.png) top left no-repeat;
    text-align: left;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    border: 0;
    padding: 0;
    transition: opacity 0.2s;
}
.sby_lb-data .sby_lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
